
<h2 class="text-center" *ngIf="!loading">Detalles clinicos de la mascota {{ historiaClinica.mascota.nombre }} </h2>

<p-progressSpinner *ngIf="loading" class="flex justify-content-center"></p-progressSpinner>
<app-alert *ngIf="detallesClinicos.length === 0 && !loading" ></app-alert>

<div class="card flex justify-content-center" >
    <p-table [value]="detallesClinicos" [(selection)]="detallesClinicos"  dataKey="code" [tableStyle]="{'min-width': '50rem'}" *ngIf="detallesClinicos.length > 0">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Temperatura</th>
                <th scope="col">Peso</th>
                <th scope="col">Frecuencia Cardiaca</th>
                <th scope="col">Frecuencia Respiratoria</th>
                <th scope="col">Fecha Hora</th>
                <th scope="col">Alimentacion</th>
                <th scope="col">Habitad</th>
                <th scope="col">Observacion</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"let-detalleClinico  >
            
            <tr [pSelectableRow]="detalleClinico">
                <td> {{ detalleClinico.id }} </td>
                <td> {{ detalleClinico.temperatura }} </td>
                <td> {{ detalleClinico.peso }} </td>
                <td> {{ detalleClinico.frecuenciaCardiaca }} </td>
                <td> {{ detalleClinico.frecuenciaRespiratoria }} </td>
                <td> {{ detalleClinico.fechaHora | date:"short" }} </td>
                <td> {{ detalleClinico.alimentacion }} </td>
                <td> {{ detalleClinico.habitad }} </td>
                <td> {{ detalleClinico.observacion }} </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="flex align-items-center justify-content-center">
    <button pButton pRipple label="Regresar" class="p-button-danger mt-1" routerLink="/historias-clinicas"><i class="pi pi-arrow-left mr-2"></i></button>
</div>