<h2 class="text-center">Consultas</h2>
<div class="card flex justify-content-center">
    <p-table [value]="historiasClinicas" [(selection)]="historiasClinicas" dataKey="code" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Mascota</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"let-historiaClinica >
            
            <tr [pSelectableRow]="historiaClinica">
                <td> {{historiaClinica.id}} </td>
                <td> {{historiaClinica.fechaCreacion}} </td>
                <td> {{ historiaClinica.mascota.nombre }} </td>
                <td>
                    <button  pButton pRipple label="Editar" class="p-button-warning" (click)="editar(historiaClinica.id)"></button>
                    <button  pButton pRipple label="Eliminar" class="p-button-danger" (click)="eliminarHistoriaClinica(historiaClinica)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="flex align-items-center justify-content-center">
    <button pButton pRipple label="Crear nueva consulta" class="p-button-primary mt-2" routerLink="/historia-clinica/nuevo"></button>
</div>