
<h2 class="text-center">Lista de Colaboradores</h2>
<div class="card flex justify-content-center" >
    <p-table [value]="colaboradores" [(selection)]="colaboradores"  dataKey="code" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Cargo</th>
                <th>Especialidad</th>
                <th>Tipo de Documento</th>
                <th>Numero de Documento</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"let-colaborador  >
            
            <tr [pSelectableRow]="colaborador">
                <td> {{ colaborador.id }} </td>
                <td> {{ colaborador.nombre }} </td>
                <td> {{ colaborador.apellido }} </td>
                <td> {{ colaborador.cargo }} </td>
                <td> {{ colaborador.especialidad }} </td>
                <td> {{ colaborador.tipoDocumento }} </td>
                <td> {{ colaborador.documentoIdentificacion }} </td>
                <td>
                    <button  pButton pRipple label="Editar" class="p-button-warning" (click)="editarColaborador(colaborador.id)"></button>
                    <button  pButton pRipple label="Eliminar" class="p-button-danger" (click)="eliminarColaborador(colaborador.id)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="flex align-items-center justify-content-center">
<button pButton pRipple label="Agregar colaborador" class="p-button-primary mt-2" routerLink="/crear-colaborador"></button>