<div class="bg-cyan-200">
  <nav>
    <ul class="text-cyan-200 flex justify-content-evenly flex-wrap">
      <li class="col">
        <button routerLink="/colaborador" pButton pRipple class="p-button-success text-center p-3 border-round-sm" label="Colaboradores"></button>
      </li>
      <li class="col">
        <button routerLink="/usuario" pButton pRipple class="p-button-success text-center p-3 border-round-sm" label="Usuarios"></button>
      </li>
      <li class="col">
        <button routerLink="/mascota" pButton pRipple class="p-button-success text-center p-3 border-round-sm" label="Mascotas"></button>
      </li>
      <li class="col">
        <button routerLink="/historia-clinica" pButton pRipple class="p-button-success text-center p-3 border-round-sm" label="Historiales Clinico"></button>
      </li>
      <li class="col">
        <button routerLink="/detalle-historia-clinica" pButton pRipple class="p-button-success text-center p-3 border-round-sm" label="Detalles Clinicos"></button>
      </li>
    </ul>
 </nav>
</div>

<div class="content" role="main">
 
</div>

<router-outlet></router-outlet>
