<div class="bg-cyan-200">
  <nav>
    <ul class="text-cyan-200 flex justify-content-evenly flex-wrap">
      <li class="col card card-container flex">
        <button
          routerLink="/colaboradores"
          pButton
          pRipple
          class="p-button-success text-center p-3 border-round-sm"
          label="Colaboradores"
        >
          <i class="pi pi-users mr-2"></i>
        </button>
      </li>
      <li class="col">
        <button
          routerLink="/usuarios"
          pButton
          pRipple
          class="p-button-success text-center p-3 border-round-sm"
          label="Usuarios"
        >
          <i class="pi pi-users mr-2"></i>
        </button>
      </li>
      <li class="col">
        <button
          routerLink="/mascotas"
          pButton
          pRipple
          class="p-button-success text-center p-3 border-round-sm"
          label="Mascotas"
        ></button>
      </li>
      <li class="col">
        <button
          routerLink="/historias-clinicas"
          pButton
          pRipple
          class="p-button-success text-center p-3 border-round-sm"
          label="Historiales Clinico"
        >
          <i class="pi pi-calendar-times mr-2"></i>
        </button>
      </li>
      <li class="col">
        <button
          routerLink="/detalle-historia-clinica"
          pButton
          pRipple
          class="p-button-success text-center p-3 border-round-sm"
          label="Detalles Clinicos"
        ></button>
      </li>
    </ul>
  </nav>
</div>