<div class="bg-primary-900 font-bold border-round m-2  align-items-center justify-content-center" style="min-width: 200px; min-height: 100px">
    <h2 class="text-center text-red-500">Nueva Mascota</h2>
    <form [formGroup]="dataForm">
        <div class="card flex justify-content-center">
            <span class="p-float-label my-3">
                <input pInputText id="nombre" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['nombre'].errors && (dataForm.controls['nombre'].dirty || dataForm.controls['nombre'].touched)}" formControlName="nombre" name="nombre" />
                <label htmlFor="nombre" class="text-cyan-500">Nombre</label>
            </span>
        </div>
        <div class="card flex justify-content-center">
            <span class="p-float-label my-3">
                <input pInputText id="raza" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['raza'].errors && (dataForm.controls['raza'].dirty || dataForm.controls['raza'].touched)}" formControlName="raza" name="raza"/>
                <label htmlFor="raza" class="text-cyan-500">Raza</label>
            </span>
        </div>
        <div class="card flex justify-content-center">
            <span class="p-float-label my-3">
                <input pInputText id="sexo" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['sexo'].errors && (dataForm.controls['sexo'].dirty || dataForm.controls['sexo'].touched)}" formControlName="sexo" name="sexo" />
                <label htmlFor="sexo" class="text-cyan-500">Sexo</label>
            </span>
        </div>
        <div class="card flex justify-content-center">
            <span class="p-float-label my-3">
                <p-dropdown  [options]="usuarios" optionLabel="nombre" optionValue="id" id="usuario" formControlName="usuario" name="usuario"></p-dropdown>
                <label htmlFor="usuario" class="text-cyan-500">Dueño</label>
            </span>
        </div>
        <button pButton pRipple class="p-button-success" label="Guardar" [disabled]="dataForm.invalid" (click)="registrarMascota()" ></button>
    </form>
    <button pButton pRipple class="p-button-danger" label="Regresar" routerLink="/mascota"></button>
</div>        