
<h2 class="text-center" *ngIf="!loading">Mascotas de {{ usuario.nombre}} {{ usuario.apellido }} </h2>
<p-progressSpinner *ngIf="loading" class="flex justify-content-center"></p-progressSpinner>
<app-alert *ngIf="mascotas.length === 0 && !loading" ></app-alert>

<div class="card flex justify-content-center">
    <p-table [value]="mascotas" [(selection)]="mascotas" dataKey="code" [tableStyle]="{'min-width': '50rem'}" *ngIf="mascotas.length > 0">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Sexo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"let-mascota >
            
            <tr [pSelectableRow]="usuario">
                <td> {{ mascota.id }} </td>
                <td> {{ mascota.nombre }} </td>
                <td> {{ mascota.raza }} </td>
                <td> {{ mascota.sexo }} </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="flex align-items-center justify-content-center">
    <button pButton pRipple label="Regresar" class="p-button-danger mt-2" routerLink="/usuarios"><i class="pi pi-arrow-left mr-2"></i></button>
</div>