<div class="bg-primary-900 font-bold border-round m-2  align-items-center justify-content-center" style="min-width: 200px; min-height: 100px">

    <h2 class="text-center text-red-500">Guardar Detalle Clinico</h2>

    <form [formGroup]="dataForm" (ngSubmit)="guardarDetalles()">
        <div class="formgrid grid">
            <div class="field col card flex justify-content-center">
                <span class="p-float-label my-3">
                    <input pInputText id="temperatura" formControlName="temperatura" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['temperatura'].errors && (dataForm.controls['temperatura'].dirty || dataForm.controls['temperatura'].touched)}"/>
                    <label htmlFor="temperatura" class="text-cyan-500">Temperaturas</label>
                </span>
            </div>
            <div class="field col card flex justify-content-center">
                <span class="p-float-label my-3">
                    <p-inputNumber inputId="integeronly" id="peso" formControlName="peso" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['peso'].errors && (dataForm.controls['peso'].dirty || dataForm.controls['peso'].touched)}"></p-inputNumber>
                    <label htmlFor="peso" class="text-cyan-500">Peso</label>
                </span>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col card flex justify-content-center">
                <span class="p-float-label my-3">
                    <p-inputNumber  id="frecuenciaCardiaca" formControlName="frecuenciaCardiaca" [maxFractionDigits]="2" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['frecuenciaCardiaca'].errors && (dataForm.controls['frecuenciaCardiaca'].dirty || dataForm.controls['frecuenciaCardiaca'].touched)}"></p-inputNumber>
                    <label htmlFor="frecuenciaCardiaca" class="text-cyan-500">Frecuencia Cardiaca</label>
                </span>
            </div>
            <div class="field col card flex justify-content-center">
                <span class="p-float-label my-3">
                    <p-inputNumber inputId="integeronly" id="frecuenciaRespiratoria" formControlName="frecuenciaRespiratoria" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['frecuenciaRespiratoria'].errors && (dataForm.controls['frecuenciaRespiratoria'].dirty || dataForm.controls['frecuenciaRespiratoria'].touched)}"></p-inputNumber>
                    <label htmlFor="frecuenciaRespiratoria" class="text-cyan-500">Frecuencia Respiratoria</label>
                </span>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col card flex justify-content-center">
                <span class="p-float-label my-3">
                    <p-calendar placeholder="Fecha" id="fechaHora" [showTime]="true" [showSeconds]="true" dateFormat="dd/mm/yy" formControlName="fechaHora" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['fechaHora'].errors && (dataForm.controls['fechaHora'].dirty || dataForm.controls['fechaHora'].touched)}"></p-calendar>
                    <label htmlFor="fechaHora" class="text-cyan-500">Fecha Hora</label>
                </span>
            </div>
            <div class="field col card flex justify-content-center">
                <span class="p-float-label my-3">
                    <input pInputText id="alimentacion" formControlName="alimentacion" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['alimentacion'].errors && (dataForm.controls['alimentacion'].dirty || dataForm.controls['alimentacion'].touched)}"/>
                    <label htmlFor="alimentacion" class="text-cyan-500">Alimentacion</label>
                </span>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col card flex justify-content-center">
                <span class="p-float-label my-3">
                    <input pInputText id="habitad" formControlName="habitad" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['habitad'].errors && (dataForm.controls['habitad'].dirty || dataForm.controls['habitad'].touched)}"/>
                    <label htmlFor="habitad" class="text-cyan-500">Habitad</label>
                </span>
            </div>
            <div class="field col card flex justify-content-center">
                <span class="p-float-label my-3">
                    <input pInputText id="observacion" formControlName="observacion" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['observacion'].errors && (dataForm.controls['observacion'].dirty || dataForm.controls['observacion'].touched)}"/>
                    <label htmlFor="observacion" class="text-cyan-500">Observacion</label>
                </span>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col card flex justify-content-center">
                <span class="p-float-label my-3">
                    <p-dropdown placeholder="Historia Clinica" id="historiaClinica" [options]="historiasClinicas" optionLabel="fechaCreacion" optionValue="id" formControlName="historiaClinicaId" [showClear]="true" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['historiaClinicaId'].errors && (dataForm.controls['historiaClinicaId'].dirty || dataForm.controls['historiaClinicaId'].touched)}"></p-dropdown>
                    <label htmlFor="historiaClinica" class="text-cyan-500">Historia Clinica</label>
                </span>
            </div>
            <div class="field col card flex justify-content-center">
                <span class="p-float-label my-3">
                    <p-dropdown placeholder="Colaborador" id="colaborador" [options]="colaboradores" optionLabel="nombre" optionValue="id" formControlName="colaboradorId" [showClear]="true" [ngClass]="{'ng-invalid  ng-dirty':dataForm.controls['colaboradorId'].errors && (dataForm.controls['colaboradorId'].dirty || dataForm.controls['colaboradorId'].touched)}"></p-dropdown>
                    <label htmlFor="colaborador" class="text-cyan-500">Colaborador</label>
                </span>
            </div>
        </div>

        <button pButton pRipple class="p-button-success" label="Guardar" [disabled]="dataForm.invalid"><i class="pi pi-save mr-2"></i></button>
    </form>
    <button pButton pRipple class="p-button-danger mt-1" label="Cancelar" routerLink="/detalle-historia-clinica"><i class="pi pi-arrow-left mr-2"></i></button>
</div>